<h1>Álbums</h1>

<table class="table table-striped table-bordered table-hover">
  <thead  class="thead-dark">
      <tr>
        <th>Id</th>
        <th>Título</th>
        <th></th>
      </tr>
  </thead>
  <tbody>
      <tr *ngFor="let album of albums">
        <td>{{album.id}} </td>
        <td>{{album.title}}</td>
        <td>
          <a (click)="irParaFotos(album.id)" class="btn btn-xs btn-info">
            Fotos
         </a>
        </td>
      </tr>
  </tbody>
</table>
<input type="submit" value="Voltar" type="submit" class="btn btn-success" (click)="voltarListagemUsuarios()">


