  <h1>Usuários</h1>

  <table class="table table-striped table-bordered table-hover">
    <thead  class="thead-dark">
        <tr>
          <th>Nome</th>
          <th>E-mail</th>
          <th>Fone</th>
          <th>WebSite</th>
          <th>Endereço</th>
          <th>Empresa</th>
          <th colspan="2"></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let usuario of usuarios">
          <td>{{usuario.name}} </td>
          <td>{{usuario.email}}</td>
          <td>{{usuario.phone}}</td>
          <td>{{usuario.website}}</td>
          <td>
              Rua: {{usuario.address.street}} <br/>
              Cidade: {{usuario.address.city}} <br/>
              Cep: {{usuario.address.zipcode}}
          </td>
          <td>
              {{usuario.company.name}} <br/>
          </td>
          <td>
            <a (click)="irParaPosts(usuario.id)" class="btn btn-xs btn-info">
              Posts
           </a>
          </td>
          <td>
            <a (click)="irParaAlbums(usuario.id)" class="btn btn-xs btn-success">
              Álbums
            </a>
          </td>
        </tr>
    </tbody>
  </table>


